:root {
  interpolate-size: allow-keywords;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
}

.text-card-foreground {
    color: hsl(var(--card-foreground))
}

.text-destructive-foreground {
    color: hsl(var(--destructive-foreground))
}

.text-muted-foreground {
    color: hsl(var(--muted-foreground))
}

.text-primary {
    color: hsl(var(--primary))
}

.text-primary-foreground {
    color: hsl(var(--primary-foreground))
}

.text-secondary-foreground {
    color: hsl(var(--secondary-foreground))
}

.hero_demoscreen {
  position: relative;
  z-index: 1;
  border-radius: 8px;
  transform-origin: center;
  transform: perspective(1000px);
}

@media (min-width: 64rem) {
  .hero_demoscreen {
    transform: scale(1.15) translate(14px) translateY(-8px) perspective(3190px)
      rotateY(351deg) rotateX(3deg) rotate(0.5deg);
  }
}

summary {
  cursor: pointer;
}

