---
import Container from "@components/container.astro";

interface Props {
  cite?: string;
  class?: string;
}

const { cite, class: className } = Astro.props;
---

<section class:list={["w-full py-10 md:py-14", className]}>
  <Container>
    <figure class="max-w-3xl mx-auto text-center">
      <blockquote
        class="text-xl md:text-2xl font-medium tracking-tight text-gray-900 leading-snug">
        <span
          class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent">
          “
        </span><slot /><span
          class="bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent"
          >”</span
        >
      </blockquote>
      {
        cite && (
          <figcaption class="mt-4 text-sm font-medium text-muted-foreground">
            {cite}
          </figcaption>
        )
      }
    </figure>
  </Container>
</section>
